body{
	background-color: #eee;
}

.top-bar-section{
	ul{
		li{
			border-bottom: 2px solid white;
		}
	}
}

@mixin push-down($margTop){
	margin-top: $margTop;
}


.intro-section{
	@include push-down(15%);
	img{
		
		border-radius: 50%;
	}
}

.content-outline{
	div{
		@include push-down(3%);
	}
}

