body{
	background-color: #eee;
}

.top-bar-section{
	ul{
		li{
			border-bottom: 2px solid white;
		}
	}
}

@mixin push-down($margTop){
	margin-top: $margTop;
}

.homepage-intro{
	@include push-down(15%);
}

.intro-section{
	@include push-down(2%);
	img{
		
		border-radius: 50%;
	}
}

.content-outline{
	div{
		@include push-down(3%);
	}
}

.port-Example{
	margin-top: 20px;
	margin-bottom: 20px;
}

.cta{
	div{
		@include push-down(20px);
	}
}
