<div class="row">
	<div class="small-12 intro-section text-center">
		<img src="img/me.jpg" alt="Picture of Kelly Landers" />
		<h1>About Kelly...</h1>
	</div>

	<div class="row">
		<div class="small-12 columns content-outline text-center">
			<p>As you may have already inferred, mi nombre es Kelly Landers. I am a Web Developer by trade. Irving, Texas is where my wife, daughter and our two cats call home.</p>

			<p>I love all things Web Development, whether it&rsquo;s building out Front-end User Interfaces, or learning about the latest and greatest technologies &amp; tools to make our impact even greater!</p>

			<p>When I am not developing more of the interwebz, I enjoy trying all kinds of food (we have plenty of that around here) as well as enjoy a good Porter or two :) I am an avid-runner as well as a die-hard Denver Broncos Fan.</p>
		</div>
	</div>

	<div class="row">
		<div class="small-12 columns text-center">
			<a class="button radius " href="#/portfolio">Check Out My Work!</a>
		</div>
	</div>
</div>