<div class="row">
  <div id="contactForm" class="small-12 columns text-center">
    <br />
    <h5>Contact me for freelance opportunities or just to say hi!</h5>
   <!--  <form id="myForm" method="post" data-abide>  
        <label>Name</label>
        <small class="error">Your full name is required.</small>
        <input type="text" placeholder="Full Name" required>
        
        <label>Email</label>
        <small class="error">An email address is required.</small>

        <input type="email" placeholder="username@address.com" required>
        
        <label>Your Message</label>
        <small class="error">Your message is required.</small>
        <textarea placeholder="Enter your message here" required></textarea>  
      <input type="submit" class="nice blue radius button" value="Send Message"></button></a>
    </form> -->


  </div>
</div>

<div class="row">
  <div class="small-12 columns text-center socialIcons">
      <p>You can always reach on the usual social media outlets as well!</p>
      <a href="mailto:kellylanders2@gmail.com" target="_top"><i class="fa fa-envelope fa-2x"></i></a>
      <a href="https://www.facebook.com/kelly.landers.902"><i class="fa fa-facebook fa-2x"></i></a>
      <a href="https://twitter.com/landerskd"><i class="fa fa-twitter fa-2x"></i></a>
      <a href="https://www.linkedin.com/profile/view?id=375627698&trk=hp-identity-name"><i class="fa fa-linkedin fa-2x"></i></a>
  </div>
</div>