<div class="row">
	<div class="small-12 columns intro-section text-center">
		<h1>Portfolio</h1>
	</div>

	<div class="row">
		<div class="small-12 columns text-center">
			<p class="subheader">Here are examples of some of the work I have done.</p>
		</div>
	</div>


	<!-- Portfolio Examples -->
	<div class="row">
		<div class="small-12 medium-4 columns text-center port-Example">
			<a href="https://github.com/Klanders85" target="_blank"><img src="img/example-GitHubProfile.jpg"  alt="Screen Shot of Kelly's Github profile" /></a>
		</div>
		
		<div class="small-12 medium-4 columns text-center port-Example">
			<a href="http://getyourhairdonebycrystal.com" target="_blank"><img src="img/example-CrystalsSite.jpg"  alt="Screen Shot of Crystal's Hair site" /></a>
		</div>
		
		<div class="small-12 medium-4 columns text-center port-Example">
			<a href="http://kellylanders.me" target="_blank"><img src="img/example-Blog.jpg"  alt="Screen Shot of Kelly's WP Blog" /></a>
		</div>
	</div>

	<!-- Portfolio Examples  -->
	<div class="row">
		<div class="small-12 medium-4 columns text-center port-Example">
			<a href="http://rockcapco.com/" target="_blank"><img src="img/example-RockCap.jpg"  alt="Screen Shot of RockCap's WP Site re-skin" /></a>
		</div>
		
		<div class="small-12 medium-4 columns text-center port-Example">
			<a href="http://borderbowls.ontheborder.com" target="_blank"><img src="img/example-OTBBowls.jpg"  alt="Screen Shot of a On the Border campaign landing page" /></a>
		</div>
		
		<div class="small-12 medium-4 columns text-center port-Example">
			<a href="http://whatscooking.ontheborder.com/" target="_blank"><img src="img/example-OTBCooking.jpg"  alt="Screen Shot of a On the Border campaign landing page" /></a>
		</div>
	</div>

	<!-- Resume Link and Contact button -->
	<div class="row text-center cta">
		<div class="small-6 medium-4 columns text-center">
			<a class="button radius" href="#">My Resume</a>
		</div>
		<div class="small-6 medium-4 columns text-center hide-for-small-only">
			<a class="button radius" href="#/home">Back to Home</a>
		</div>
		<div class="small-6 medium-4 columns text-center">
			<a class="button radius" href="#/contact">Get in Touch!</a>
		</div>
	</div>
</div>